<div class="row">
  <div [ngClass]="isVisible ? 'col-8' : 'col-12'">
    <div class="col-8">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6">
              Product List
            </div>
            <div class="col-6 text-end ">
              <button class="btn btn-sm btn-success" (click)="openSlidePanel()">New</button>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card" >
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card">
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Some example text.</p>
                  <a href="#" class="btn btn-primary">See Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" *ngIf="isVisible">
      <div class="card">
        <div class="card-header bg-primary">
          <div class="row">
            <div class="col-6">
              New Product List
            </div>
            <div class="col-6 text-end ">
              <button class="btn btn-sm btn-success" (click)="closeSlidePanel()">Close</button>
            </div>
          </div>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label for="sku">SKU</label>
              <input type="text" id="sku" class="form-control" [(ngModel)]="productObj.productSku">
            </div>
            <div class="col-6">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" [(ngModel)]="productObj.productName">
            </div>
            <div class="col-6">
              <label for="price">Price</label>
              <input type="text" id="price" class="form-control" [(ngModel)]="productObj.productPrice">
            </div>
            <div class="col-6">
              <label for="shortName">Short Name</label>
              <input type="text" id="shortName" class="form-control" [(ngModel)]="productObj.productShortName">
            </div>
            <div class="col-6">
              <label for="desc">Description</label>
              <input type="text" id="desc" class="form-control" [(ngModel)]="productObj.productDescription">
            </div>
            <div class="col-6">
              <label for="create">Created Date</label>
              <input type="text" id="create" class="form-control" [(ngModel)]="productObj.createdDate">
            </div>
            <div class="col-6">
              <label for="del">Delivery Time Span</label>
              <input type="text" id="del" class="form-control" [(ngModel)]="productObj.deliveryTimeSpan">
            </div>
            <div class="col-6">
              <label for="cat">Category Id</label>
              <input type="text" id="cat" class="form-control" [(ngModel)]="productObj.categortId">
            </div>
            <div class="col-6">
              <label for="img">SKU</label>
              <input type="text" id="img" class="form-control" [(ngModel)]="productObj.productImageUrl">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
